.image-container {
  // background-color: #ccc;
  overflow: hidden;
  position: relative;

  margin: 5px auto;
}
.image {
 

  &.thumb {
    opacity: 1;
    filter: blur(10px);
    transition: opacity 1s ease-out;
    position: absolute;
    &.isLoaded {
      opacity: 0;
    }
  }

  &.isLoaded {
    transition: opacity 1s ease-out;
    opacity: 1;
  }
}
